---
import "../styles/global.css";
import Card from "../components/linktree/card.astro";
import Chip from "../components/linktree/chip.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Hello Astro</title>
  </head>
  <body class="min-h-screen bg-gray-100 text-gray-900 flex flex-col">
    <slot />
  </body>
</html>
